@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 60 9% 96%;
    --foreground: 0 0% 7%;
    --card: 60 6% 93%;
    --card-foreground: 0 0% 7%;
    --popover: 60 9% 96%;
    --popover-foreground: 0 0% 7%;
    --primary: 0 0% 7%;
    --primary-foreground: 60 9% 96%;
    --secondary: 60 4% 88%;
    --secondary-foreground: 0 0% 7%;
    --muted: 60 4% 88%;
    --muted-foreground: 0 0% 40%;
    --accent: 24 8% 50%;
    --accent-foreground: 60 9% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 82%;
    --input: 0 0% 82%;
    --ring: 0 0% 7%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.25rem;
    --sidebar-background: 60 9% 96%;
    --sidebar-foreground: 0 0% 7%;
    --sidebar-primary: 0 0% 7%;
    --sidebar-primary-foreground: 60 9% 96%;
    --sidebar-accent: 60 4% 88%;
    --sidebar-accent-foreground: 0 0% 7%;
    --sidebar-border: 0 0% 82%;
    --sidebar-ring: 0 0% 7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
